html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #fcfcfc;
    width: 100vw !important;
    overflow-x: hidden;
}

/** {
  border: 1px solid #f00 !important;
} */

body.dark-mode {
    transition-duration: 0.2s;
    transition-property: background-color, color;
    background-color: #001325;
    color: rgb(255, 245, 245);
}

body.dark-mode .navbar {
    background-color: #00203d !important;
    color: rgb(255, 245, 245);
}

body.dark-mode .signup-call {
    background-color: #00172c !important;
}

body.dark-mode header,
body.dark-mode .login-demo-grid {
    background-color: #00172c !important;
}

body.dark-mode .login-grid {
    background-color: #001931 !important;
    color: rgb(255, 245, 245);
}

body.dark-mode .landing-header-link {
    color: rgb(255, 245, 245);
}

body.light-mode {
    transition-duration: 0.2s;
    transition-property: background-color, color;
}

body.light-mode .navbar {
    color: black !important;
}

ul {
    list-style-type: none;
}

.ais-Hits-list {
    padding: 0;
}

.ais-RefinementList-list {
    padding: 0;
}

#containerElement::-webkit-scrollbar {
    width: 10px;
}

#containerElement::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

#containerElement::-webkit-scrollbar-thumb {
    background: #07080a;
    border-radius: 10px;
}

#containerElement::-webkit-scrollbar-thumb:hover {
    background: #1c1f27;
}

a:-webkit-any-link {
    color: black;
}

.github-login-btn {
    background-color: #fff;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    color: rgba(0, 0, 0, 0.54);
    padding: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    width: 180px;
    height: 40px;
    text-align: center;
}

.github-login-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    right: -25px;
    top: -10px;
    width: 30px;
    height: 24px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    margin-top: -30px;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

.react-toggle {
    touch-action: pan-x;

    display: inline-block;
    position: relative;
    top: 8px;
    left: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.react-toggle-small {
    top: 18px;
    left: -30px;
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4d4d4d;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
    background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128d15;
}

.react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
    opacity: 0;
}

.react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    background-color: #fafafa;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19ab27;
}

.react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
    -moz-box-shadow: 0px 0px 3px 2px #0099e0;
    box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
    -moz-box-shadow: 0px 0px 5px 5px #0099e0;
    box-shadow: 0px 0px 5px 5px #0099e0;
}

@media only screen and (max-width: 7000px) {
    .bm-burger-button,
    .toggle-grid {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    .navbar-grid {
        display: none;
    }
    .login-demo-grid {
        display: none;
    }
    .login-grid {
        border: 0 !important;
    }
    .bm-burger-button,
    .toggle-grid {
        display: block;
    }
    .login-grid {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
    .login-grid .login-paper {
        margin: 70px auto !important;
        position: inherit !important;
        left: 50vw;
        right: 50vw;
    }
    .landing-hero {
        text-align: center;
    }
}

@media only screen and (max-width: 960px) {
    html,
    body {
        width: 100vw;
    }
    .login-paper {
        margin: 10px 10px 10px 10px !important;
    }
    .login-grid {
        text-align: center;
    }
    .landing-demo,
    .landing-bodya-demo,
    .landing-bodyb-demo {
        display: none;
    }
    .landing-hero-wrap {
        text-align: center !important;
    }
    .landing-hero,
    .landing-bodya,
    .landing-bodyb {
        margin: 50px auto !important;
        width: 90vw !important;
        text-align: center;
    }
    .landing-hero .landing-hero-h2,
    .landing-bodya .landing-bodya-h4,
    .landing-bodyb .landing-bodyb-h4 {
        font-size: xx-large;
        text-align: center;
    }
    .landing-hero .landing-hero-body,
    .landing-bodya .landing-bodya-h6,
    .landing-bodyb .landing-bodyb-h6 {
        font-size: medium;
        text-align: center;
        margin-bottom: -25px;
        margin-top: 50px;
    }
    .landing-hero .landing-hero-btn {
        height: 50px !important;
        width: 200px !important;
    }
    .landing-bodya .landing-bodya-body2,
    .landing-bodyb .landing-bodyb-body2 {
        font-size: small;
        text-align: center;
        margin-bottom: -25px;
    }
    .signupcall-btn {
        text-align: center !important;
    }
    .landing-logo {
        margin-top: 10px !important;
        margin-left: 5px !important;
    }
    .inbox-grid {
        margin: 1vh 1vw 1vh 1vw !important;
    }
    #containerElement {
        height: 25vh !important;
    }
}
