html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #fcfcfc;
    width: 99vw !important;
    overflow-x: hidden;
}

/** {
  border: 1px solid #f00 !important;
} */

.github-login-btn {
    background-color: #ffffff;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    color: rgba(0, 0, 0, 0.54);
    padding: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    width: 180px;
    height: 40px;
    text-align: center;
}

.github-login-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 30px;
    height: 24px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    margin-top: -30px;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

@media only screen and (max-width: 7000px) {
    .bm-burger-button {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    .navbar-grid {
        display: none;
    }
    .login-demo-grid {
        display: none;
    }
    .login-grid {
        border: 0 !important;
    }
    .bm-burger-button {
        display: block;
    }
    .login-grid {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
    .login-grid .login-paper {
        margin: 70px auto !important;
        position: inherit !important;
        left: 50vw;
        right: 50vw;
    }
    .landing-hero {
        text-align: center;
    }
}

@media only screen and (max-width: 960px) {
    html, body {
        width: 98vw;
    }
    .login-paper {
        margin: 10px 10px 10px 10px !important;
    }
    .login-grid {
        text-align: center;
    }
    .landing-demo,
    .landing-bodya-demo,
    .landing-bodyb-demo {
        display: none;
    }
    .landing-hero-wrap {
        text-align: center !important;
    }
    .landing-hero,
    .landing-bodya,
    .landing-bodyb {
        margin: 50px auto !important;
        width: 90vw !important;
        text-align: center;
    }
    .landing-hero .landing-hero-h2,
    .landing-bodya .landing-bodya-h4,
    .landing-bodyb .landing-bodyb-h4 {
        font-size: xx-large;
        text-align: center;
    }
    .landing-hero .landing-hero-body,
    .landing-bodya .landing-bodya-h6,
    .landing-bodyb .landing-bodyb-h6 {
        font-size: medium;
        text-align: center;
        margin-bottom: -25px;
        margin-top: 50px;
    }
    .landing-hero .landing-hero-btn {
        height: 50px !important;
        width: 200px !important;
    }
    .landing-bodya .landing-bodya-body2, .landing-bodyb .landing-bodyb-body2 {
        font-size: small;
        text-align: center;
        margin-bottom: -25px;
    }
    .signupcall-btn {
        text-align: center !important;
    }
}
